<li>
<div translate="no"><span class="name">{name}</span> - <span style="font-size:small;">{version} (<span class="updated">{update_date}</span>) <a href="{repository}" target="_blank">REPO</a></span></div>
<div class="description">{description}</div>
<br>
<div class="about">{about}</div>
<br>

<div style="font-size:small;">
  <div>Author: <span class="author">{author_name}</span> {trusted}</div>
  <div>Create date: <span class="created">{create_date}</span></div>
  <div>Tags: <span class="tags">{tags}</span></div>
  <div>Downloads: {downloads}</div>
  <div>Rating: {average_vote} ({rating_votes})</div>
  <br>
  <div>Directory: {dirname}</div>
  <div>Size: <span class="size" data-size="{size_sort}">{size}</span></div>
  <div>File extensions: {extensions}</div>
  <div>Dependencies:<br>{dependencies}</div>
</div>
<hr>
</li>
